<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpsoKFY9Zdwo28XFdu4aoV7WwE9lym7Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>104125112978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safesphere</string>
	<key>PROJECT_ID</key>
	<string>safe-sphere-16d18</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-sphere-16d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104125112978:ios:bc352de5f64395abd93c4b</string>
</dict>
</plist>